<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sigabe.sigabe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.LOCATION_GPS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOU_KEY" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".SurvivalGuide"
            android:label="@string/title_activity_main">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".SurvivalGuide"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contact" />
        <activity android:name=".SurvivalDashboard" />
        <activity android:name=".SurvivalDashboard2" />
        <activity android:name=".ContentAlam" />
        <activity android:name=".ContentBanjir" />
        <activity android:name=".ContentBanjir2" />
        <activity android:name=".ContentGempa" />
        <activity android:name=".ContentGempa2" />
        <activity android:name=".ContentKebakaran" />
        <activity android:name=".ContentBakar2" />
        <activity android:name=".ContentBukanAlam" />
        <activity android:name=".ContentJatuh" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Profile" />
        <activity android:name=".Emergency" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".DashboardContent" />
        <activity android:name=".DashboardSosial"></activity>

        <service android:name=".BackgroundService" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="com.sigabe.sigabe" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
